#global-container{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

#left-panel{
    background-color: #102a50;
    height: 100vh;
}

#right-content{
    background-color: #f7f3f6;
    height: 100vh;
}

#header{
    background-color: #08a8ff;
    height: 150px;
    text-align: center;
    padding-top: 30px;
}

.header-name{
    font-size: 70px;
    margin-right: 20px;
}

#first-name-text-header{
    color: white;
}